.player-container {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.9);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-end;
}
.video-wrapper {
  flex-grow: 1;
}
.controls {
  background-color: black;
}
.button-group {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 6px 8px;
}
.control-button {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 20px;
  padding: 1px;
  line-height: 1;
  -webkit-text-stroke: 0.3px black;
}
.js-play-button,
.js-pause-button {
  padding-left: 2px;
}
.js-volume-button,
.js-mute-button {
  padding-left: 8px;
  margin-left: -1px;
}
.js-fullscreen-button {
  justify-content: flex-end;
  padding-right: 3px;
  margin-right: -1px;
}
.control-button[hidden] {
  display: none;
}
.time-label {
  color: white;
  font-size: 16px;
  padding: 1px 21px 0;
  height: 31px;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.progress-bar {
  flex-grow: 1;
  height: 5px;
  /*background-color: #555;*/
  cursor: pointer;
  border-radius: 3px;
  align-self: center;
  margin-left: -10px;
  margin-right: -20px;
  position: relative;
}
.progress-bar:hover .progress-thumb {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.progress-thumb {
  width: 8px; 
  height: 8px;
  background: red;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  top: calc(50% + 1px);
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  left: 0%;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.progress-slider {
  width: 0%;
  height: 100%;
  background-color: #f8104d;
  border-radius: 3px;
}
.js-current-time {
  margin-left: -16px;
}
.js-duration {
  margin-left: 10px;
  margin-right: -22px;
}
