.player-container {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.9);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-end;
}
.video-wrapper {
  flex-grow: 1;
}
.controls {
  background-color: black;
}
.button-group {
  display: flex;
  justify-content: flex-start;
  column-gap: 2px;
  position: relative;
  top: -5px;
  align-items: center;
}
.control-button {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 20px;
  line-height: 1;
  justify-content: center;
}
.control-button::-moz-focus-inner {
  border: 0;
}
.control-button:focus {
  outline: none;
}
.control-button[hidden] {
  display: none;
}

.time-label {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 400;
  padding-top: 4px;
}
.progress-group {
  flex-grow: 1;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.progress-bar {
  flex-grow: 1;
  height: 5px;
  cursor: pointer;
  border-radius: 3px;
  align-self: center;
  position: relative;
  top: 1px;
}
.progress-bar:hover .progress-thumb {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.progress-thumb {
  width: 8px; 
  height: 8px;
  background: red;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  top: calc(50% + 1px);
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  left: 0%;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.progress-slider {
  width: 0%;
  height: 100%;
  background-color: #f8104d;
  border-radius: 3px;
}
.fa-volume-off {
  padding-right: 10px;
}
.fa-expand {
  padding-right: 1px;
}
